.navbar-custom {
    background: rgba(66, 37, 29, 0.5);
    
    box-shadow: 0px 4px 6px rgba(2, 37, 114, 0.3);
}
.logo{
    border-radius:50%;
}
.signup{
    border:2px solid #FDDA80;
    background-color: #42251D;
    color:#FDDA80;
    font-weight: bold;
}
.login{
    background-color: #FDDA80;
    color:#42251D;
    font-weight: bold;
}
.btn:hover{
    text-decoration: none;
    color:#FDDA80;
}
a{
    text-decoration: none;
    color:#ffffff;
    font-size: large;
}
a:hover{
    text-decoration: none;
    color:white;
    transform: scale(1.2);
}
.navbar-custom .btn{
    border-radius:10%;
}
.title{
    font-size:15px;
}
.nav-item {
    margin-right: 20px; 
}
